* {
  box-sizing: border-box;
}
.header {
  background: #f6f5ff;
  padding: 6rem 17rem;
}
.header .back_button {
  cursor: pointer;

  color: #fb2e86;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}
.header .heading {
  color: #101750;
  font-family: Josefin Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product_card_price {
  color: var(--text, #151875);
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  /* 181.25% */
  text-transform: capitalize;
  display: flex;
  position: relative;
}
.product_card_price .product_card_discount_price {
  text-align: center;
  position: absolute;
  right: -55px;
  text-decoration: line-through;
  color: var(--accent, #fb2e86);
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  /* 181.25% */
  text-decoration-line: strikethrough;
  text-transform: capitalize;
}
.product_wrapper {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_wrapper .product_box {
  justify-content: space-around;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  gap: 90px;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 25px 10px #f6f4fd;
}
.product_wrapper .product_box .product_image_details {
  width: 550px;
  height: 550px;
}
.product_wrapper .product_box .name_and_description_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  max-width: 600px;
}
.product_wrapper .product_box .product_name {
  color: #0d134e;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product_wrapper .product_box .likes_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.product_wrapper .product_box .likes_counter .likes_count {
  color: #0d134e;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product_wrapper .product_box .likes_counter #likes_icon {
  width: 35px;
  height: 35px;
}
.product_wrapper .product_box .product_description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.product_wrapper .product_box .product_material {
  color: #0d134e;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.product_wrapper .product_box .product_description {
  color: #a9acc6;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  /* 181.25% */
  margin: 0;
}
.product_wrapper .product_box .like_icon {
  background: url("../../../assets/liked.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
}
.product_wrapper .product_box .like_icon:hover {
  background: url("../../../assets/not_liked.png");
  width: 25px;
  height: 25px;
  background-size: cover;
}
.product_wrapper .product_box .unlike_icon {
  background: url("../../../assets/not_liked.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
}
.product_wrapper .product_box .unlike_icon:hover {
  background: url("../../../assets/liked.png");
  width: 25px;
  height: 25px;
  background-size: cover;
}
.product_wrapper .product_box .buttons_wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.product_wrapper .product_box .buttons_wrapper .button {
  cursor: pointer;
  display: flex;
  padding: 11px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fb2e86;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
